! FRR configuration file
!
hostname {{ inventory_hostname }}
log file /var/log/frr/frr.log
service integrated-vtysh-config

router bgp {{ my_as }}
  bgp router-id {{ wg_ip_address }}
{% for peer in groups['wg_bgp_group'] %}
  {% if peer != inventory_hostname %}
  neighbor {{ hostvars[peer]['wg_ip_address'] }} remote-as {{ hostvars[peer]['my_as'] }}
  {% endif %}
{% endfor %}
  address-family ipv4 unicast
{% for network in networks_to_announce %}
    network {{ network }}
{% endfor %}