[Interface]
Address = {{ wg_ip_address }}/24
PrivateKey = {{ lookup('file', '/etc/wireguard/keys/privatekey') }}
ListenPort = {{ wg_listen_port }}
PostUp = sysctl -w net.ipv4.ip_forward=1

{% for host in groups['wireguard_hosts'] %}
{% if host != inventory_hostname %}
[Peer]
PublicKey = {{ lookup('file', '/etc/wireguard/keys/publickey', host=host) }}
Endpoint = {{ hostvars[host]['ansible_host'] }}:{{ wg_listen_port }}
AllowedIPs = {{ hostvars[host]['wg_ip_address'] }}/32
{% endif %}
{% endfor %}